<h3>Welcome to Postit!</h3>

<% @posts.each do |post| %>
  <table class='table'>
    <tr class='info'>
      <td class='span2'>
        <% if logged_in? %>
          <%= link_to vote_post_path(post, vote: 'true'), method: 'POST', remote: true do %>
            <i class='icon-plus'></i>
          <% end %>
        <% end %>
        <span id="post_<%=post.slug%>_votes"><%= total_votes(post) %></span>
        <% if logged_in? %>
          <%= link_to vote_post_path(post, vote: 'false'), method: 'POST', remote: true do %>
            <i class='icon-minus'></i>
          <% end %>
        <% end %>
        &nbsp
        <font size='5'>
          <%= link_to post.title, post_path(post) %>
        </font>
      </td>
      <td class='span1'>
        <% post.categories.each do |category| %>
          <div class="badge">
            <%= link_to "#{category.name}", category_path(category) %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class='span2'>
        <%= "Created by #{post.creator.username} at #{format_timestamp(post.created_at)}" %>
      </td>
      <td class='span1'>
        <%= link_to "#{post.comments.size} comments", post_path(post) %>
      </td>
    </tr>
  </table>
<% end %>
